.home_bg {
    background-image: url("./Assets/Img/homebg.png");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    background-repeat: no-repeat;
}

.cta_bg {
    background-image: url("./Assets/Img/ctabg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.accordion__button {
    background-color: #0078FF !important;
    color: aliceblue !important;
    font-weight: 700;
}

.header_img {
    position: absolute;
    left: 0;
    top: 600px;
}

.header_img img {
    width: 500px;
    z-index: 9999;
}

.userName {
    text-align: left !important;
}